body {
    text-align: center;
    background-color:#e47011;
}
table{
    background-color: rgb(209, 215, 51);
    padding: 10px;
}
td {
    padding: 10px 15px;
    text-align: left;
}
#action{
    text-align: center;
}